//Font website
$main-font: 'Area';
$form-font: 'Muli', sans-serif;

//main color
$cl-white: #ffffff;
$cl-black: #000000;
$cl-blue: #0074a3;
$cl-blue-light: #67c3da;
$cl-gray-light: #d8e1e0;
$cl-gray: #9aa3a2;
$cl-gray-lighter: #b7c1c0;
$cl-gray-small: #7f8887;
$cl-green: #068979;
$cl-green-light: #56c69e;
$cl-green-dark: #00454f;
$cl-word-main: #504f4f;
$cl-word-light: #8b8a8a;
$cl-word-small: #7f8887;
$cl-gray-footer: #d5dfde;
$cl-yellow: #fed835;

//Screen size
$tablet-screen: 768px;
$tablet-screen-horizontal: 1024px;
$mobile-screen: 480px;
$mobile-screen-horizontal: 568px;
$pc-screen: 992px;
$pc-large-screen: 1200px;

//Font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-super-bold: 700;

//Form input component
$form-input-background: $cl-white;
$form-input-color: #7f8887;
$form-input-border-color: #7f8887;
$form-input-border-active: #068979;
$form-input-border-error: #c00;

//Form button component
$form-button-color: #ffffff;
$form-button-background: $cl-green-light;
$form-button-background-active: $cl-green-dark;

//Form checkbox conponent
$form-checkbox-border: #d8e0de;
$form-checkbox-border-active: #068979;
$form-checkbox-background-disable: #f03c56;
//Slider component
$slider-arrow-color: #d8e1e0;

//color social
$cl-fb: #3b5999;
$cl-twitter: #55acee;

//rating
$cl-rating-fill: #fed835;

//tooltip
$tooltip-color: #017aa3;
$tooltip-background: #fcedaf;
$tooltip-border: #e5d9a7;
$tooltip-background-gray: #7f7f7f;

//table
$table-color: #49504f;

//footer
$footer-color: #7f8887;
$footer-color-hover: #56c69e;

//add review
$cl-word-h2: #49504f;
