mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content {
  mat-card {
    margin-bottom: 16px;
    mat-card-header {
      margin-bottom: 16px;

      mat-card-title {
        font-size: 32px;
        line-height: 140%;
        font-weight: 700;
      }
    }

    mat-card-content {
      color: rgba(0, 0, 0, 0.54);
      font-size: 18px;
      line-height: 160%;
      margin: 0 16px;
      .cl-source {
        font-style: italic;
      }
    }

    div {
      display: flex;
      justify-content: center;
      img {
        min-width: 200px;
        max-width: 400px;
        padding: 16px;
      }
    }
  }
}
