mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content {

  mat-card {
    margin-bottom: 16px;
    mat-card-content {
      color: rgba(0,0,0,.54)
    }

    img {
      min-width: 150px;
      max-width: 300px;
      padding: 16px;
    }
  }
}
